* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: beige;
}
.MAx-container {
  max-width: 1440px;
  margin: 0px auto;
  animation: webstyle 1s linear;
}
@keyframes webstyle {
  from {
    opacity: 0;

    transform: translateX(-100px);
  }
  to {
    opacity: 1;

    transform: translateX(0px);
  }
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 32px;
}
.logo svg {
  color: rgb(193, 57, 102);
}
h1 {
  text-align: center;
  position: relative;
  top: 52px;
  text-decoration: underline;
}

/* BOXES */

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 122px;
}
.box {
  height: 450px;
  width: 300px;
}
.box img {
  height: 300px;
  width: 300px;
  border-radius: 12px;
}
.box p {
  opacity: 0.6;
  display: inline-block;
  padding: 6px 4px;
}
#para {
  opacity: 0.9;
  line-height: 0px;
  margin-top: 11px;
}
.box span {
  float: inline-end;
}
